// Base configuration shared by all userbot-bale macOS targets.

USERBOT_BALE_APP_BUNDLE_ID = com.userbot_bale.vpn
USERBOT_BALE_APP_GROUP_IDENTIFIER = group.com.userbot_bale.vpn
USERBOT_BALE_PACKET_TUNNEL_BUNDLE_ID = $(USERBOT_BALE_APP_BUNDLE_ID).packet-tunnel

SWIFT_VERSION = 5.9
MACOSX_DEPLOYMENT_TARGET = 13.0
ENABLE_HARDENED_RUNTIME = YES
